/* 반응형 */
@media screen and (max-width: 1199px) {
  /* 공통 */
  .common_container {
    display: flex;
    width: 100%;
  }
  .common_container .common_section {
    flex: 1;
  }
  .common_container .common_section.section_framer {
    padding: 24px 16px;
  }
  /* prompt */
  .section_framer .framer .framer_prompt_area {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 20px;
  }
  .section_framer .framer .framer_prompt_area .framer_prompt_box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 10px;
  }
  .section_framer .framer .framer_prompt_area .framer_prompt_box .framer_prompt_textarea {
    overflow: hidden;
    flex: 1;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #e5e7eb;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #000000;
    resize: none;
  }
  .section_framer .framer .framer_prompt_area .framer_prompt_box .framer_prompt_textarea::placeholder {
    color: #9CA3B0;
  }
  .section_framer .framer .framer_prompt_area .framer_prompt_box .framer_prompt_textarea:focus::placeholder {
    color: transparent;
  }
  .section_framer .framer .framer_prompt_area .framer_prompt_box .framer_prompt_textarea:focus {
    border: 1px solid #e5e7eb;
    outline: none;
  }
  .section_framer .framer .framer_prompt_area .framer_prompt_box .btn_framer_prompt {
    flex-grow: 0;
    flex-shrink: 0;
    height: 44px;
    padding: 12px;
    background-color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    color: #FFFFFF;
  }
  .section_framer .framer .framer_prompt_area .btn_framer_setting_expanded {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
  }
  .section_framer .framer .framer_prompt_area .btn_framer_setting_expanded::after {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url('/AIxStudio/img/btn_expanded.svg') no-repeat;
    content: '';
  }
  .section_framer .framer .framer_setting_area {
    display: none;
    padding: 32px;
  }
  .section_framer .framer .framer_setting_area.active {
    display: block;
  }
  .section_framer .framer .framer_setting_area .framer_setting_list {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    max-height: 184px;
  }
  .section_framer .framer .framer_setting_area .framer_setting_list .framer_setting_item {
    width: 100%;
    margin-bottom: 20px;
  }
  .section_framer .framer .framer_setting_area .framer_setting_list .framer_setting_item .framer_setting_box {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }
  .section_framer .framer .framer_setting_area .framer_setting_list .framer_setting_item .framer_setting_box .framer_setting_label {
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    color: #374151;
  }
  .section_framer .framer .framer_setting_area .framer_setting_list .framer_setting_item .framer_setting_box .framer_setting_input {
    padding: 7px 12px;
    border: 1px solid #e5e7eb;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 300;
    line-height: 26px;
    color: #000;
  }
  .section_framer .framer .framer_setting_area .framer_setting_list .framer_setting_item .framer_setting_box .framer_setting_input::placeholder {
    color: #D1D5DB;
    font-weight: 300;
  }
  .section_framer .framer .framer_setting_area .framer_setting_list .framer_setting_item .framer_setting_box .framer_setting_input:focus::placeholder {
    color: transparent;
  }
  .section_framer .framer .framer_setting_area .framer_setting_list .framer_setting_item .framer_setting_box .framer_setting_input:focus {
    border: 1px solid #e5e7eb;
    outline: none;
  }
  .section_framer .framer .framer_setting_area .framer_setting_list .framer_setting_item .framer_setting_box .select_box {
    display: flex;
  }
  .section_framer .framer .framer_setting_area .framer_setting_list .framer_setting_item .framer_setting_box .select_box .framer_setting_input {
    flex: 1;
    width: 100%;
    border-radius: 6px 0px 0px 6px;
  }
  .section_framer .framer .framer_setting_area .framer_setting_list .framer_setting_item .framer_setting_box .select_box .btn_setting_select {
    flex-shrink: 0;
    padding: 8px 16px;
    border-radius: 0px 6px 6px 0px;
    background-color: #6B7280;
    font-size: 12px;
    font-weight: 100;
    line-height: 26px;
    color: #FFFFFF;
    transition: 0.3s all ease;
  }
  /* layer */
  .ly_pop_wrap {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
  .ly_pop_wrap.active {
    display: block;
  }
  .ly_pop_wrap #dimmed{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .ly_pop_wrap .ly_pop {
    overflow: scroll;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    width: 100vw;
    max-height: 90vh;
    padding: 20px;
    border-radius: 6px;
    background-color: #FFFFFF;
    transform: translate(-50%, -50%);
  }
  .ly_pop_wrap .ly_pop .ly_pop_title {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }
  .ly_pop_wrap .ly_pop .ly_pop_img_box .ly_pop_img_list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -20px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .ly_pop_wrap .ly_pop .ly_pop_img_box .ly_pop_img_list .ly_pop_img_item {
      width: calc((100% - 40px) / 3);
      margin-bottom: 20px;
      padding: 16px;
      border: 1px solid #E5E7EB;
      border-radius: 6px;
      margin-bottom: 20px;
    }
    .ly_pop_wrap .ly_pop .ly_pop_img_box .ly_pop_img_list .ly_pop_img_item:not(:nth-of-type(3n)) {
      margin-right: 20px;
    }
  }
  @media screen and (max-width: 767px) {
    .ly_pop_wrap .ly_pop .ly_pop_img_box .ly_pop_img_list .ly_pop_img_item {
      width: calc((100% - 20px) / 2);
      margin-bottom: 20px;
      padding: 16px;
      border: 1px solid #E5E7EB;
      border-radius: 6px;
      margin-bottom: 20px;
    }
    .ly_pop_wrap .ly_pop .ly_pop_img_box .ly_pop_img_list .ly_pop_img_item:not(:nth-of-type(2n)) {
      margin-right: 20px;
    }
  }
  .ly_pop_wrap .ly_pop .ly_pop_img_box .ly_pop_img_list .ly_pop_img_item .img_box .picture_img {
    width: 100%;
    object-fit: contain;
    vertical-align: middle;
    padding: 0px 15px;
    margin-bottom: 12px;
  }
  .ly_pop_wrap .ly_pop .ly_pop_img_box .ly_pop_img_list .ly_pop_img_item .img_box .img_title {
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
  }
  .ly_pop_wrap .ly_pop .ly_pop_img_box .ly_pop_img_list .ly_pop_img_item .img_box .img_desc {
    color: #4B5563;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
  }
  .ly_pop_wrap .ly_pop .ly_pop_img_box .btn_close_ly_pop {
    margin-top: 24px;
    padding: 8px 16px;
    border-radius: 6px;
    background-color: #E5E7EB;
    font-size: 12px;
    color: #1F2937;
  }
}

/* Desktop */
@media screen and (min-width: 1200px) {
  /* 공통 */
  .common_container {
    display: flex;
    width: 100%;
  }
  .common_container .common_section {
    flex: 1;
    max-width: 1200px;
    margin: 0 auto;
  }
  .common_container .common_section.section_framer {
    padding: 24px 48px 24px 16px;
  }
  /* prompt */
  .section_framer .framer .framer_prompt_area {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 20px;
  }
  .section_framer .framer .framer_prompt_area .framer_prompt_box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 20px;
  }
  .section_framer .framer .framer_prompt_area .framer_prompt_box .framer_prompt_textarea {
    overflow: hidden;
    flex: 1;
    width: 100%;
    padding: 8px;
    margin-right: 20px;
    border: 1px solid #e5e7eb;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #000000;
    resize: none;
  }
  .section_framer .framer .framer_prompt_area .framer_prompt_box .framer_prompt_textarea::placeholder {
    color: #9CA3B0;
  }
  .section_framer .framer .framer_prompt_area .framer_prompt_box .framer_prompt_textarea:focus::placeholder {
    color: transparent;
  }
  .section_framer .framer .framer_prompt_area .framer_prompt_box .framer_prompt_textarea:focus {
    border: 1px solid #e5e7eb;
    outline: none;
  }
  .section_framer .framer .framer_prompt_area .framer_prompt_box .btn_framer_prompt {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    padding: 12px;
    background-color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    color: #FFFFFF;
  }
  .section_framer .framer .framer_prompt_area .btn_framer_setting_expanded {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
  }
  .section_framer .framer .framer_prompt_area .btn_framer_setting_expanded::after {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url('/AIxStudio/img/btn_expanded.svg') no-repeat;
    content: '';
  }
  /* setting */
  .section_framer .framer .framer_setting_area {
    display: none;
  }
  .section_framer .framer .framer_setting_area.active {
    display: block;
  }
  .section_framer .framer .framer_setting_area .framer_setting_list {
    display: flex;
    flex-wrap: wrap;
  }
  .section_framer .framer .framer_setting_area .framer_setting_list .framer_setting_item {
    width: calc(25% - 15px);
    margin-bottom: 20px;
  }
  .section_framer .framer .framer_setting_area .framer_setting_list .framer_setting_item:not(:nth-of-type(4n)) {
    margin-right: 20px;
  }
  .section_framer .framer .framer_setting_area .framer_setting_list .framer_setting_item .framer_setting_box {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }
  .section_framer .framer .framer_setting_area .framer_setting_list .framer_setting_item .framer_setting_box .framer_setting_label {
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    color: #374151;
  }
  .section_framer .framer .framer_setting_area .framer_setting_list .framer_setting_item .framer_setting_box .framer_setting_input {
    padding: 7px 12px;
    border: 1px solid #e5e7eb;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    color: #000;
  }
  .section_framer .framer .framer_setting_area .framer_setting_list .framer_setting_item .framer_setting_box .framer_setting_input::placeholder {
    color: #D1D5DB;
    font-weight: 300;
  }
  .section_framer .framer .framer_setting_area .framer_setting_list .framer_setting_item .framer_setting_box .framer_setting_input:focus::placeholder {
    color: transparent;
  }
  .section_framer .framer .framer_setting_area .framer_setting_list .framer_setting_item .framer_setting_box .framer_setting_input:focus {
    border: 1px solid #e5e7eb;
    outline: none;
  }
  .section_framer .framer .framer_setting_area .framer_setting_list .framer_setting_item .framer_setting_box .select_box {
    display: flex;
  }
  .section_framer .framer .framer_setting_area .framer_setting_list .framer_setting_item .framer_setting_box .select_box .framer_setting_input {
    flex: 1;
    width: 100%;
    border-radius: 6px 0px 0px 6px;
  }
  .section_framer .framer .framer_setting_area .framer_setting_list .framer_setting_item .framer_setting_box .select_box .btn_setting_select {
    flex-shrink: 0;
    padding: 8px 16px;
    border-radius: 0px 6px 6px 0px;
    background-color: #6B7280;
    font-size: 12px;
    font-weight: 100;
    line-height: 18px;
    color: #FFFFFF;
    transition: 0.3s all ease;
  }
  .section_framer .framer .framer_setting_area .framer_setting_list .framer_setting_item .framer_setting_box .select_box .btn_setting_select:hover {
    background-color: #4C5563;
  }
  /* layer */
  .ly_pop_wrap {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
  .ly_pop_wrap.active {
    display: block;
  }
  .ly_pop_wrap #dimmed{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .ly_pop_wrap .ly_pop {
    overflow: scroll;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    max-width: 60vw;
    max-height: 90vh;
    padding: 20px;
    border-radius: 6px;
    background-color: #FFFFFF;
    transform: translate(-50%, -50%);
  }
  .ly_pop_wrap .ly_pop .ly_pop_title {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }
  .ly_pop_wrap .ly_pop .ly_pop_img_box .ly_pop_img_list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -20px;
  }
  .ly_pop_wrap .ly_pop .ly_pop_img_box .ly_pop_img_list .ly_pop_img_item {
    width: calc((100% - 40px) / 3);
    margin-bottom: 20px;
    padding: 16px;
    border: 1px solid #E5E7EB;
    border-radius: 6px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.3 all ease;
  }
  .ly_pop_wrap .ly_pop .ly_pop_img_box .ly_pop_img_list .ly_pop_img_item:hover {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  }
  .ly_pop_wrap .ly_pop .ly_pop_img_box .ly_pop_img_list .ly_pop_img_item:not(:nth-of-type(3n)) {
    margin-right: 20px;
  }

  .ly_pop_wrap .ly_pop .ly_pop_img_box .ly_pop_img_list .ly_pop_img_item .img_box .picture_img {
    width: 100%;
    object-fit: contain;
    vertical-align: middle;
    padding: 0px 15px;
    margin-bottom: 12px;
  }
  .ly_pop_wrap .ly_pop .ly_pop_img_box .ly_pop_img_list .ly_pop_img_item .img_box .img_title {
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
  }
  .ly_pop_wrap .ly_pop .ly_pop_img_box .ly_pop_img_list .ly_pop_img_item .img_box .img_desc {
    color: #4B5563;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
  }
  .ly_pop_wrap .ly_pop .ly_pop_img_box .btn_close_ly_pop {
    margin-top: 24px;
    padding: 8px 16px;
    border-radius: 6px;
    background-color: #E5E7EB;
    font-size: 12px;
    color: #1F2937;
  }
}

