// 모바일
@media screen and (max-width: 767px) {
  .common_wrap {
    & .common_container {
      min-height: 100vh;
      background-color: #F3F4F6;
      & .common_section {
        // 프롬프트 영역
        &.section_prompt {
          padding: 20px 0px;
          & .section_heading {
            padding: 0px 20px;
            & .section_title {
              margin-bottom: 10px;
              font-size: 24px;
              font-weight: 700;
              line-height: 36px;
              text-align: center;
            }
            & .section_sub_title {
              font-size: 12px;
              line-height: 18px;
              color: #999999;
              text-align: center;
            }
          }
          & .prompt {
            display: flex;
            width: 100%;
            padding: 12px 0px;
            margin: 0 auto;
            & .prompt_form {
              position: relative;
              width: 100%;
              font-size: 0px;
              & .prompt_input {
                width: 100%;
                padding: 12px 16px;
                border: 1px solid #4C4C4C;
                border-radius: 3px 0px 0px 3px;
                font-size: 16px;
                line-height: 24px;
                background-color: #FFFFFF;
                resize: none;
                &::placeholder {
                  visibility: hidden;
                }
                &:focus::placeholder {
                  color: transparent;
                }
                &:focus {
                  outline: none;
                }
              }
            }
            & .btn_prompt_setting {
              width: 5%;
              min-width: 50px;
              padding: 12px 0px;
              border: 1px solid #4C4C4C;
              border-left: none;
              background-color: #FFFFFF;
            }
            & .btn_generate_image {
              display: flex;
              flex-direction: column;
              width: 10%;
              min-width: 100px;
              padding: 3px 0px;
              border: 1px solid #4C4C4C;
              border-radius: 0px 3px 3px 0px;
              border-left: none;
              background-color: #FFFFFF;
              font-size: 12px;
              font-weight: 300;
              line-height: 18px;
            }
          }
          & .setting {
            display: none;
            padding: 16px 20px;
            margin: 0 auto;
            &.active {
              display: block;
            }
            & .setting_list {
              display: flex;
              flex-wrap: wrap;
              & .setting_item {
                width: 100%;
                &:nth-of-type(n+2) {
                  margin-top: 20px;
                }
                & .setting_label {
                  display: inline-block;
                  margin-bottom: 6px;
                  font-size: 16px;
                  line-height: 24px;
                  color: #4C4C4C;
                }
                & .setting_input_box {
                  position: relative;
                  & .setting_input {
                    width: 100%;
                    padding: 10px 16px;
                    border: 1px solid #4C4C4C;
                    border-radius: 5px;
                    background-color: #FFFFFF;
                    font-size: 16px;
                    line-height: 24px;
                    &::placeholder {
                      color: #BDBDBD;
                    }
                  }
                  & .btn_setting_select {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    padding: 14px 10px;
                    border-radius: 0px 5px 5px 0px;
                    background-color: #4C4C4C;
                    font-size: 12px;
                    font-weight: 100;
                    line-height: 18px;
                    color: #FFFFFF;
                    transition: 0.3s all ease;
                    &:hover {
                      background-color: #333333;
                    }
                  }
                }
              }
            }
          }
        }
        // 생성된 이미지 영역
        &.section_generate {
          &.active {
            padding: 20px 20px 80px 20px;
          }
          & .generate {
            & + .generate {
              margin-top: 30px;
            }
            & .generate_grid {
              width: 100%;
              & .generate_grid_list {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 10px;
                & .generate_grid_item {
                  width: 100%;
                  aspect-ratio: 1 / 2;
                  & .generate_grid_box {
                    border-radius: 5px;
                    width: 100%;
                    height: 100%;
                    background-color: #e0e0e0;
                    & img {
                      border-radius: 5px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
// 태블릿
@media screen and (min-width: 768px) and (max-width: 1039px) {
  .common_wrap {
    & .common_container {
      min-height: 100vh;
      background-color: #F3F4F6;
      & .common_section {
        // 프롬프트 영역
        &.section_prompt {
          padding: 30px 0px;
          & .section_heading {
            padding: 0px 20px;
            & .section_title {
              margin-bottom: 10px;
              font-size: 24px;
              font-weight: 700;
              line-height: 36px;
              text-align: center;
            }
            & .section_sub_title {
              font-size: 12px;
              line-height: 18px;
              color: #999999;
              text-align: center;
            }
          }
          & .prompt {
            display: flex;
            width: 100%;
            padding: 16px 0px;
            margin: 0 auto;
            & .prompt_form {
              position: relative;
              width: 85%;
              font-size: 0px;
              & .prompt_input {
                width: 100%;
                padding: 9px 16px;
                border: 1px solid #4C4C4C;
                border-radius: 3px 0px 0px 3px;
                font-size: 16px;
                line-height: 24px;
                background-color: #FFFFFF;
                resize: none;
                &::placeholder {
                  color: #BDBDBD;
                }
                &:focus::placeholder {
                  color: transparent;
                }
                &:focus {
                  outline: none;
                }
              }
            }
            & .btn_prompt_setting {
              width: 5%;
              min-width: 50px;
              padding: 9px 0px;
              border: 1px solid #4C4C4C;
              border-left: none;
              background-color: #FFFFFF;
            }
            & .btn_generate_image {
              display: flex;
              flex-direction: column;
              width: 10%;
              min-width: 100px;
              border: 1px solid #4C4C4C;
              border-radius: 0px 3px 3px 0px;
              border-left: none;
              background-color: #FFFFFF;
              font-size: 12px;
              font-weight: 300;
              line-height: 18px;
            }
          }
          & .setting {
            display: none;
            padding: 20px;
            margin: 0 auto;
            &.active {
              display: block;
            }
            & .setting_list {
              display: flex;
              flex-wrap: wrap;
              & .setting_item {
                width: calc((100% - 20px) / 2);
                &:not(:nth-of-type(2n)){
                  margin-right: 20px;
                }
                &:nth-of-type(n+3) {
                  margin-top: 20px;
                }
                & .setting_label {
                  display: inline-block;
                  margin-bottom: 6px;
                  font-size: 14px;
                  line-height: 20px;
                  color: #4C4C4C;
                }
                & .setting_input_box {
                  position: relative;
                  & .setting_input {
                    width: 100%;
                    padding: 9px 10px;
                    border: 1px solid #4C4C4C;
                    border-radius: 5px;
                    background-color: #FFFFFF;
                    font-size: 14px;
                    line-height: 20px;
                    &::placeholder {
                      color: #BDBDBD;
                    }
                  }
                  & .btn_setting_select {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    padding: 11px 10px;
                    border-radius: 0px 5px 5px 0px;
                    background-color: #4C4C4C;
                    font-size: 12px;
                    font-weight: 100;
                    line-height: 18px;
                    color: #FFFFFF;
                    transition: 0.3s all ease;
                    &:hover {
                      background-color: #333333;
                    }
                  }
                }
              }
            }
          }
        }
        // 생성된 이미지 영역
        &.section_generate {
          &.active {
            padding: 20px 20px 90px 20px;
          }
          & .generate {
            display: flex;
            justify-content: space-between;
            & + .generate {
              margin-top: 30px;
            }
            & .generate_grid {
              width: 100%;
              & .generate_grid_list {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 10px;
                & .generate_grid_item {
                  width: 100%;
                  aspect-ratio: 1 / 2;
                  & .generate_grid_box {
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    background-color: #e0e0e0;
                    & img {
                      border-radius: 5px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
// 데스크탑
@media screen and (min-width: 1040px) {
  .common_wrap {
    & .common_container {
      min-height: 100vh;
      background-color: #F3F4F6;
      & .common_section {
        // 프롬프트 영역
        &.section_prompt {
          padding: 40px 0px;
          & .section_heading {
            & .section_title {
              margin-bottom: 12px;
              font-size: 36px;
              font-weight: 700;
              line-height: 40px;
              text-align: center;
            }
            & .section_sub_title {
              font-size: 14px;
              line-height: 20px;
              color: #999999;
              text-align: center;
            }
          }
          & .prompt {
            display: flex;
            justify-content: space-between;
            width: 1000px;
            padding: 20px 0px;
            margin: 0 auto;
            & .prompt_form {
              position: relative;
              width: 850px;
              font-size: 0px;
              & .prompt_input {
                width: 100%;
                padding: 9px 16px;
                border: 1px solid #4C4C4C;
                border-radius: 3px 0px 0px 3px;
                font-size: 20px;
                line-height: 30px;
                background-color: #FFFFFF;
                resize: none;
                &::placeholder {
                  color: #BDBDBD;
                }
                &:focus::placeholder {
                  color: transparent;
                }
                &:focus {
                  outline: none;
                }
              }
            }
            & .btn_prompt_setting {
              width: 50px;
              padding: 12px 0px;
              border: 1px solid #4C4C4C;
              border-left: none;
              background-color: #FFFFFF;
            }
            & .btn_generate_image {
              display: flex;
              flex-direction: column;
              width: 100px;
              padding: 3px 0px;
              border: 1px solid #4C4C4C;
              border-radius: 0px 3px 3px 0px;
              border-left: none;
              background-color: #FFFFFF;
              font-size: 12px;
              font-weight: 300;
              line-height: 18px;
            }
          }
          & .setting {
            display: none;
            width: 1000px;
            padding: 30px 0px;
            margin: 0 auto;
            &.active {
              display: block;
            }
            & .setting_list {
              display: flex;
              flex-wrap: wrap;
              & .setting_item {
                width: calc((100% / 3) - (40px / 3));
                &:not(:nth-of-type(3n)){
                  margin-right: 20px;
                }
                &:nth-of-type(n+4) {
                  margin-top: 20px;
                }
                & .setting_label {
                  display: inline-block;
                  margin-bottom: 6px;
                  font-size: 16px;
                  line-height: 24px;
                  color: #4C4C4C;
                }
                & .setting_input_box {
                  position: relative;
                  & .setting_input {
                    width: 100%;
                    padding: 10px 16px;
                    border: 1px solid #4C4C4C;
                    border-radius: 5px;
                    background-color: #FFFFFF;
                    font-size: 16px;
                    line-height: 24px;
                    &::placeholder {
                      color: #BDBDBD;
                    }
                  }
                  & .btn_setting_select {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    padding: 14px 10px;
                    border-radius: 0px 5px 5px 0px;
                    background-color: #4C4C4C;
                    font-size: 12px;
                    font-weight: 100;
                    line-height: 18px;
                    color: #FFFFFF;
                    transition: 0.3s all ease;
                    &:hover {
                      background-color: #333333;
                    }
                  }
                }
              }
            }
          }
        }
        // 생성된 이미지 영역
        &.section_generate {
          margin: 0 auto;
          &.active {
            padding: 30px 20px 100px 20px;
          }
          & .generate {
            display: flex;
            justify-content: space-between;
            & + .generate {
              margin-top: 30px;
            }
            & .generate_grid {
              width: 100%;
              & .generate_grid_list {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 10px;
                & .generate_grid_item {
                  width: 100%;
                  aspect-ratio: 1 / 2;
                  & .generate_grid_box {
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    background-color: #e0e0e0;
                    & img {
                      border-radius: 5px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
